.top-menu .menu-1 { margin-top: 50px; }
.top-menu .menu-1 a { font-size: 12px; }
.blue-color {
    color: #429ffc;
}

@media screen and (max-width: 1583px) {
    .flexslider li {
        height: 600px; } 
}